body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-card-hoverable {
    cursor: auto;
}

.ant-back-top {
    bottom: 15px;
    backdrop-filter: blur(1px)
}

.ant-switch-checked {
    background-color: #1890ff;
}

.ant-switch {
    background-color: #1890ff;
}

.ant-collapse, .ant-collapse-content {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #d9d9d9;
}

.ant-tag-gold {
    background-color: #fffbe636;
    border-color: #fadb14;
}

.ant-tag-blue {
    background: #e6f7ff38;
    border-color: #1890ff;

}

.ant-tag-magenta {
    background: #fff0f630;
    border-color: #eb2f96;
}

.ant-tag-yellow {
    background: #feffe642;
}

.ant-tag-geekblue {
    background: #f0f5ff29;
    border-color: #2f54eb;
}

.ant-tag-purple {
    background: #f9f0ff26;
}

.ant-tag-orange {
    background: #fff7e640;
}

.ant-tag-volcano {
    background: #fff2e83d;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background: #272c35;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: #0087ff;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    background: #272c35;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #0087ff;
}

::-webkit-scrollbar-track {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

